

# Shhh... code is sleeping in here
zzz/

# Keep IDE settings out of the project!
.vscode/settings.json

# Keep that outta the way!
**/__pycache__

# Don't send the venv!
cfxenv

# Don't upload a Pytest coverage report
.coverage

# For the love of safety DO NOT upload the debugenv, it's a straight copy of all your env vars
.debugenv